@model AppData.Models.Users


@{
    ViewData["Title"] = "Detail";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style>
    .no-underline {
        text-decoration: none;
        color: black;
    }

    .text {
        text-decoration: none;
        color: white;
    }
</style>
<h1>Chi tiết sản phẩm</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.TrangThai == 1)
            {
                <span> Con Hang</span>
            }
            else
            {
                <span> Het Hang</span>
            }
            @* @Html.DisplayFor(model => model.TrangThai) *@
        </dd>
    </dl>
</div>
<div>

    <button class="btn btn-warning ">
        @Html.ActionLink("UpDate", "UpDate", new { id = Model.ID }, new { @class = "no-underline" })
    </button>

    
    

    <a asp-action="Index">

        <button class="btn btn-secondary"> Back to List </button>

    </a>
</div>
