@model IEnumerable<AppData.Models.Users>

@{
    ViewData["Title"] = "Index";
    var username = TempData["Username"];
    var checktk = TempData["Check"];
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
@{
    if(username != null)
    {
        <h4>  Xin chao @username  </h4>
    }
    // else
    // {
    //     <h4> Ban chua dang nhap </h4>
    // }

    if (checktk != null)
    {
        <h2>
            @checktk
        </h2>
    }
}



<style>
    .no-underline {
        text-decoration: none;
        color: black;
    }

    .text {
        text-decoration: none;
        color:white;
    }
</style>

<h1>Danh sách User</h1>


    <a asp-action="Create">

    <button class="btn btn-success"> Create </button>
        
    </a>

<hr />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ID)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayUpdate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th> Hoạt Động </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayUpdate)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.TrangThai) *@
                    @if (item.TrangThai ==1)
                    {
                         <button class="btn btn-success" > Còn Hàng</button>    
                    }else
                    {
                        <button class="btn btn-danger"> Hết Hàng</button>
                    }
            </td>
            <td>
               @*  @Html.ActionLink("Update", "Update", new { id=item.ID }) | *@

                    <button class="btn btn-warning ">
                        @Html.ActionLink("Detail", "Detail", new { id = item.ID }, new { @class = "no-underline" })
                    </button>

                    <button class="btn btn-danger ">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "text" })
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
